<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Points || GUDLFT</title>
</head>
<body>
    <table>
        <thead>
            <tr>
                <td>Club :</td>
                <td>Points :</td>
            </tr>
        </thead>
        {% for club in clubs%}
        <tbody>
            <tr id="{{club['name']}}">
                <td>{{club['name']}}</td>
                <td>{{club['points']}}</td>
            </tr>
        </tbody>
        {% endfor %}
    </table>
</body>
</html>